a:visited{
	color: #d6504e;
}

body {
	font-size: 12px;
	max-width: 980px;
	font-family: 'Open Sans', sans-serif;
	background-color: #3a3b39;
	color: #e6d5c3;
}
.badge{
	font-family: 'Open Sans', sans-serif;
	color: #3a3b39;
	margin-left: 5px;
}

.media-heading{
	border-bottom: 2px solid;
	border-color: #e6d5c3;
}

h1, h2, h3, h4 {
	font-family: 'Kaushan Script', cursive;
}

.page-header.header{
	text-align: center;
}

.page-header h1{
    font-size: 6em;
}
.navbar-nav li{
	font-size: 1.25em;
}
.navbar-nav li:hover{

	background-color: #9288c2;
}
.alert-success{
	background-color: #47bfa7;
	color: #000;
}
#cover{
	max-width: 256px;
	max-height: 256px;
}

#footer{
	text-align: center;
	width: 100%;
	margin-top: 30px;
}

@media screen and (max-width: 510px) {
    .page-header h1{
        font-size: 3em;
    }
}